<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="countriesFragment">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Description</th>
            <th>Full Info</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="country,iter : ${countries}">
            <td th:text="${iter.index + 1}">Index</td>
            <td th:text="${country.name}">Name</td>
            <td th:text="${country.description}">Country</td>
            <td><a th:href="@{'/countries/'+ ${country.id}}">Full Info</a></td>
            <td><a th:href="@{'countries/delete/' + ${country.id}}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</html>