<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-includes">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/dashboard.css}" href="../../css/dashboard.css"/>
        <script th:src="@{/js/jquery-3.2.1.min.js}" src="../../js/jquery-3.2.1.min.js"></script>
        <script th:src="@{/js/custom.js}" src="../../js/custom.js"></script>
    </div>
</head>
<body>
  <header th:fragment="header">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="#">Zuul training</a>
      </nav>
  </header>
</body>
</html>